* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
  float: left;
}
a {
  text-decoration: none;
}
input {
  outline: none;
}
img {
  vertical-align: middle;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
header {
  background-color: #cccccc;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #666;
}
header .header-left span {
  margin-right: 5px;
}
header .header-left a {
  margin-right: 5px;
}
header .header-right li {
  float: left;
}
header .login {
  color: #666;
}
header .zhuce {
  color: #c7162f;
}
header .glyphicon-align-left {
  color: black;
}
