        body>div {
            width: 460px;
            height: 460px;
        }
        
        h2 {
            font-size: 24px;
            color: #57698C;
            font-weight: normal;
            text-align: center;
            margin-bottom: 24px !important;
            margin-top: 25px !important;
        }
        
        input,
        select {
            width: 353px;
            height: 48px;
            outline: none;
            margin-bottom: 22px !important;
            border: 1px solid #DDE0EB;
            padding-left: 11px !important;
            margin-left: 48px !important;
        }
        
        .submit {
            width: 364px;
            height: 48px;
            background: linear-gradient(to right, #3E77F4, #37BAFF);
            text-align: center;
            line-height: 48px;
            color: #fff;
            font-size: 16px;
            outline: none;
            border: none;
            border-radius: 4px;
            margin: 0px auto;
            display: block;
        }
        
        .layui-layer-tips {
            width: auto !important;
            height: auto !important;
        }