/* CSS注释 */
/* 定义一个变量 存储边框颜色 */
/* 定义变量 @变量名: 变量值 */
/* @borderColor: #0f0; */
div {
  border: 1px solid #f00;
}
p {
  border: 1px solid #f00;
}
h1 {
  border: 1px solid #f00;
}
/* 嵌套 */
nav ul {
  padding: 0;
}
nav ul li {
  list-style: none;
}
.link {
  display: block;
}
.link:hover {
  color: red;
}
.link1 {
  display: block;
  background-color: #ccc;
}
.link2 {
  display: block;
  width: 300px;
}
nav ul li a img {
  width: 40px;
  height: 40px;
}
nav ul li a p {
  color: #666;
}
/* less的嵌套 让选择器减少重复写 写起来方便 维护也方便 */
/* &表示当前选择器类似this 通常会用在伪类 伪元素 交集选择器上 */
nav ul {
  padding: 0;
}
nav ul li {
  list-style: none;
}
nav ul li .link {
  display: block;
}
nav ul li .link img {
  width: 40px;
  height: 40px;
}
nav ul li .link p {
  font-size: 20px;
  font-weight: 600;
}
nav ul li .link p:hover {
  color: #0f0;
}
nav ul li .link:hover {
  color: red;
}
nav ul li.active {
  color: red;
}
